.App {
  text-align: center;
}


.custom-crypto-addon-label {
  width:30%;
}

.custom-crypto-symbol {
  font-size: 18px
}

.custom-black-font {
  color: #555;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
